<!DOCTYPE html>
<html lang="en">

  <head>
  <link rel="shortcut icon" href="#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <title>Matkonim</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles -->
    <link href="../static/css/homepage.css" rel="stylesheet">

  </head>

  <body>
    <!-- Masthead -->
    <header class="masthead text-black text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-9 mx-auto">
			<h1 class="display-3 mb-auto"><b>MATKONIM</b></h1>
          </div>
	   </div>
	   <div class="row"> 
		<div class="col-12 mx-auto">      
			<h2 class=" display-4 mb-auto">Food and cocktail recipes based on your nutritional preferences!</h2>
		</div>
	   </div>
    </div>

<!-- Icons Grid -->
    <section class="features-icons text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-5ths">
	          <div class="lettuce-icon-item mx-auto mb-5">
              <form method="post">
                <input type="hidden" name="submit" value="rcps-by-ntrtnl">
                <input type="image" src="../static/img/lettuce.png" class="img-fluid" id="lettuceIcon" alt="Responsive image">
              </form>
              <h3>Recipe by Nutritional Values</h3>
              <p class="lead mb-0" style="font-size:120%;">Find the perfect recipe for you, according to your nutrituional preferences!</p>
            </div>
          </div>
          <div class="col-xs-5ths">
		        <div class="cocktail-icon-item mx-auto mb-5">
              <form method="post">
                <input type="hidden" name="submit" value="ccktl-by-ntrtnl">
                <input type="image" src="../static/img/cocktail.png" class="img-fluid" id="cocktailIcon" alt="Responsive image">
              </form>
            <h3>Cocktail by Nutritional Values</h3>
              <p class="lead mb-0" style="font-size:120%;">Find your next amazing cocktail according to your nutritional preferences!</p>
            </div>
          </div>
          <div class="col-xs-5ths">
            <div class="covering-icon-item mx-auto mb-5">
              <form method="post">
                <input type="hidden" name="submit" value="dly-ml-pln">
                <input type="image" src="../static/img/covering.png" class="img-fluid" id="coveringIcon" alt="Responsive image">
              </form>
              <h3>Daily Meal Plan</h3>
              <p class="lead mb-0" style="font-size:120%;">Plan your next meal according to your recommended daily intake of each nutritional value!</p>
            </div>
          </div>
          <div class="col-xs-5ths">
            <div class="loaf-icon-item mx-auto mb-5">
              <form method="post">
                <input type="hidden" name="submit" value="rcps-by-alrgs">
                <input type="image" src="../static/img/loaf.png" class="img-fluid" id="loafIcon" alt="Responsive image">
              </form>
              <h3>Recipe by Allergies</h3>
              <p class="lead mb-0" style="font-size:120%;">Find an awesome recipe fitting your allergies or ingredients you wish to avoid!</p>
            </div>
          </div>
          <div class="col-xs-5ths">
            <div class="donut-icon-item mx-auto mb-5">
              <form method="post">
                <input type="hidden" name="submit" value="nutrivia">
                <input type="image" src="../static/img/donut.png" class="img-fluid" id="donutIcon" alt="Responsive image">
              </form>
              <h3>Nutrivia</h3>
              <p class="lead mb-0" style="font-size:120%;">Test your knowledge in nutritional values in a fun trivia game!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
</header>



<script>
function foodRecipeNotChosen() {
  $(document.getElementById("which-food")).hide();
}
function foodRecipeChosen() {
  $(document.getElementById("which-food")).show();
}
$(document).ready(function() {
    $(".dropdown-toggle").dropdown();
});
function caloriesCheckChange() {
	if ($('#calories-check').is(':checked')) {  
		document.getElementById("calories-form").disabled = false;
	}
	else {	
		document.getElementById("calories-form").disabled = true;
		$('#calories-form').val('');
	}
}
</script>
  
    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  </body>

</html>
