<!DOCTYPE html>
<html lang="en">

  <head>
<link rel="shortcut icon" href="#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <title>Recipes by Nutritional Values</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom fonts -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles -->
    <link href="../static/css/recipes_by_nutritional.css" rel="stylesheet">

  </head>

  <body>
    <!-- Masthead -->
    <header class="masthead text-black text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-2 mx-auto">
			<h1 class="mb-auto">Matkonim</h1>
          </div>
		<div class="col-2 mx-auto">      
			<h2 class="text-nowrap mb-auto">Recipes by Nutritional Preferences</h2>
		</div>
 		<div class="col-3">
                <div class="lettuce-icon-item mx-auto mb-5 mb">
               	 <img src="../static/img/lettuce.png" class="img-fluid" id="lettuceIcon" alt="Responsive image">
         		</div>
           </div>
	  </div>
	</div>


<!-- WHICH FOOD COURSE SELECTION -->
<div class="mb-auto text-center">
<h3 class="text-nowrap mb-auto" id="which-food-header">What recipe would you like to find?</h3>
</div>
	  <form method="POST">
<div class="btn-group btn-group-toggle" data-toggle="buttons" id="which-food">
  <label class="btn btn-outline-success active">
    <input type="radio" name="Main Dishes" id="option-main" autocomplete="off"><b>Main dish</b></label>
  <label class="btn btn-outline-success">
    <input type="radio" name="Side Dishes" id="option-side" autocomplete="off"><b>Side dish</b></label>
  <label class="btn btn-outline-success">
    <input type="radio" name="Lunch" id="option-lunch" autocomplete="off"><b>Lunch</b></label>
<label class="btn btn-outline-success">
    <input type="radio" name="Breakfast and Brunch" id="option-breakfast" autocomplete="off"><b>Breakfast and Brunch</b></label>
  <label class="btn btn-outline-success">
    <input type="radio" name="Desserts" id="option-dessert" autocomplete="off"><b>Dessert</b></label> 
</div>


<!-- NUTRITIONAL VALUES SELECTION -->
<div class="mb-auto text-center">
<h3 class="text-nowrap mb-auto" id="preferences-header">Choose your nutritional preferences:</h3></div>   
<div class="col-3" method="POST">
<div class="nutri-group" id="nutri1">
 <div class="form-group row col-10">
  <label for="sugar-form" class="col-form-label col-3">Sugar:</label>
    <div class="col-8">
	<select class="custom-select col-11" id="sugar-form" name="sugar">
      <option value="">Don't care</option>
      <option value="1">None</option>
      <option value="2">less than 5%</option>
      <option value="3">over 15%</option>
    </select>
  </div>
 </div>
 <div class="form-group row col-10">
  <label for="iron-form" class="col-form-label col-3">Iron:</label>
  <div class="col-8">
    <select class="custom-select col-11" id="iron-form" name="iron">
      <option value="">Don't care</option>
      <option value="1">None</option>
      <option value="2">less than 5%</option>
      <option value="3">over 15%</option>
    </select>
  </div>
 </div>
 <div class="form-group row col-10">
  <label for="calcium-form" class="col-form-label col-3">Calcium:</label>
    <div class="col-8">
    <select class="custom-select col-11" id="calcium-form" name="calcium">
      <option value="">Don't care</option>
      <option value="1">None</option>
      <option value="2">less than 5%</option>
      <option value="3">over 15%</option>
    </select>
 </div>
 </div>
 </div>
<div class="nutri-group" id="nutri2">
    <div class="form-group row col-10">
  <label for="sodium-form" class="col-form-label col-3">Sodium:</label>
    <div class="col-8">
    <select class="custom-select col-11" id="sodium-form" name="sodium">
      <option value="">Don't care</option>
      <option value="1">None</option>
      <option value="2">less than 5%</option>
      <option value="3">over 15%</option>
    </select>
 </div>
 </div>
<div class="form-group row col-10">
  <label for="protein-form" class="col-form-label col-3">Protein:</label>
  <div class="col-8">
    <select class="custom-select col-11" id="protein-form" name="protein">
      <option value="">Don't care</option>
      <option value="1">None</option>
      <option value="2">less than 5%</option>
      <option value="3">over 15%</option>
    </select>
  </div>
 </div>
 <div class="form-group row col-10">
  <label for="lactose-form" class="col-form-label col-3">Lactose:</label>
    <div class="col-8">
    <select class="custom-select col-11" id="lactose-form" name="lactose">
      <option value="">Don't care</option>
      <option value="1">None</option>
      <option value="2">less than 5%</option>
      <option value="3">over 15%</option>
    </select>
 </div>
 </div>
</div>
<div class="nutri-group" id="nutri3">
 <div class="form-group row col-12">
  <label for="cholesterol-form" class="col-form-label col-4 text-nowrap">Cholesterol:</label>
   <div class="col-8">
    <select class="custom-select col-9" id="cholesterol-form" name="cholesterol">
      <option value="">Don't care</option>
      <option value="1">None</option>
      <option value="2">less than 5%</option>
      <option value="3">over 15%</option>
    </select>
 </div>
 </div>

<div class="form-group row col-12">
  <label for="satfat-form" class="col-form-label text-nowrap col-4">Saturated Fat:</label>
  <div class="col-8">
    <select class="custom-select col-9" id="satfat-form" name="saturated">
      <option value="">Don't care</option>
      <option value="1">None</option>
      <option value="2">less than 5%</option>
      <option value="3">over 15%</option>
    </select>
  </div>
 </div>
<div class="form-group row col-12">
  <label for="prep-form" class="col-form-label col-4 text-nowrap">Max Prep. Time:</label>
  <div class="col-8">
    <select class="custom-select col-9" id="prep-form" name="prep">
      <option value="">Don't care</option>
      <option value="1">30 minutes</option>
      <option value="2">45 minutes</option>
      <option value="3">1 hour</option>
      <option value="4">1.5 hours</option>
      <option value="5">2 hours</option>
      <option value="6">3 hours</option>
    </select>
  </div>
 </div>
<div class="input-group">
      	  </div>
    <div class="input-group-prepend">
        <label for="calories-check" class="col-form-label col-5">Max Calories:</label>
        <div class="input-group-text">
            <input type="checkbox" id="calories-check" data-toggle="toggle" onchange="caloriesCheckChange()" aria-label="Checkbox for following text input">
        </div>
        <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" min="100" max="9999"	class="form-control col-4" aria-label="Text input with checkbox" id="calories-form" disabled name="calories_kcal">
        <small id="caloriesHelpInline" class="text-muted col-4 mr-1">
            (100-9999 cal.)
        </small>

  </div>
 </div>
</div>
<!-- SUBMIT BUTTON -->
<div class="button" id="submit-button">
    <input type="submit" class="btn btn-lg btn-success" name="submit" value="Find me a recipe!">
</div>
</form>



<!-- BACK BUTTON -->
<form method="POST">
  <div class="button" id="back-button">
    <input type="submit" class="btn btn-lg btn-secondary" name="submit" value="Back to Main Menu">
  </div>
</form>


</header>

<script>
function caloriesCheckChange() {
	if ($('#calories-check').is(':checked')) {
		document.getElementById("calories-form").disabled = false;
	}
	else {
		document.getElementById("calories-form").disabled = true;
		$('#calories-form').val('');
	}
}
function prepCheckChange() {
	if ($('#prep-check').is(':checked')) {
		document.getElementById("prep-form").disabled = false;
	}
	else {
		document.getElementById("prep-form").disabled = true;
		$('#prep-form').val('');
	}
}
</script>


    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



  </body>

</html>
